<a href="https://colab.research.google.com/github/iamsorri/class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**코딩 기초**
*   **변수** = '문자', 숫자 ==> *variables, string*
*   **문법** = if(조건문), for(반복문) ==> *syntax*
*   **함수** ==> *function*
*   **패키지**(라이브러리) = 함수들을 모아놓은 것 ==> *packages, import(불러오기)*

**일반 언어과 프로그래밍 언어**
*   Natural Language = word + meaning(content)
*   Programming Language = word(*ex.var=3*) + syntax



---

# 1. Variable

**변수의 종류**
*   number(*integer/float*)(숫자)
*   string(문자)
*   list(여러 개) ≒ *tuple(item 바꾸기 안 됨)*
*   dict



---

**print**
*   equal(=)을 통해 assign 하기
*   print(a)를 통해 변수의 내용 보기
*   print(type(a))을 통해 변수의 type 보기

In [75]:
a = 1; print(type(a)) #여러 코드를 이어쓸 때에는 ;(세미콜론) 사용

<class 'int'>

In [64]:
a = 1.0; print(type(a)); print(a) #1.0도 float, 좌측바로 확인 가능

<class 'float'>
1.0

In [65]:
a = 1.1; print(type(a))

<class 'float'>



---

**인덱싱**
*   a[n] = a의 n번째 가져오기
*   파이썬에서 n은 0부터 시작
*   x~y번째 가져오고 싶다면 [x-1:y] *(콜론의 오른쪽에 있는건 포함하지 않음, >)*
*   맨 뒤에서부터 -1, -2, ...
*   리스트 안에 리스트가 있는 경우 a[x][y]
*   list, string의 인덱싱 방법 동일

In [66]:
a = '123'; print(type(a)); print(a[1]) #숫자를 적을지라도, '', ""를 사용

<class 'str'>
2

In [67]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [68]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])  #list = 대괄호, 숫자/문자 모두 가능

<class 'list'>
1

In [69]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  #콜론 뒤의 -1의 위치인 10은 포함되지 않음.
print(a[:-1])
print(a[4:])
print(a[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])  
#list안에 list가 들어있음(3번째 item, 2 item짜리 list)

<class 'list'>
1
a
[3, '4']
4

In [71]:
a[2][1]  #a의 2번째 중, 1번째에 있는 것 = 3번째 [3, '4'] 중, 2번째 '4'

'4'

In [72]:
a = 'abcdefg1234'  #list와 string은 인덱싱 방법 동일
print(type(a))
print(a[3:-1])

<class 'str'>
defg123



---

**dict**
*   중괄호
*   key + value, 쌍으로 되어 있음
*   key를 통해 value에 access
*   항목 추가

In [73]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [74]:
a = {123: "hong", 456: "sol", 'h': 2002}
a[123]

'hong'



---

**String과 List의 유사성—인덱스**

In [76]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])  #콜론 뒤 숫자보다 하나 더 전까지(3->2의 위치)

a f f a
bc bcdef abc abcdef

In [78]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [ ]:
s[1]+s[3]+s[4:]*10  #string(문자)임에도 불구하고 +를 쓸 수 있음, (ef*10)

'bdefefefefefefefefefef'



---

# 2. Function

**함수**
*   '~를 입력하면 ~을 하라'
*   함수(입력) ==> 코드 상에서 괄호가 보이면 그건 함수임
*   ex. print(s[0], s[5], s[-2]), len(s)



---

In [79]:
len(s)  #len() = 길이를 나타내는 함수

6

In [ ]:
s.upper()  #대문자로 만들어주는 함수 (s = abcdef)

'ABCDEF'

In [81]:
s = ' this is a house built this year.\n' 	
s  #셀의 맨 마지막 줄에서는 print를 쓰지 않아도 됨

' this is a house built this year.\n'

In [ ]:
result = s.find('house')   #s.find = s에서 입력값을 찾아라
result

11

In [ ]:
result = s.find('this')	  #제일 먼저 나오는걸 찾아줌 
result

1

In [ ]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace
s   #s.strip = s에서 줄바꿈 표시 같은 whitespace 지워줌

'this is a house built this year.'

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens  #s.split = 빈칸 입력받음, 빈칸을 중심으로 쪼개서 list로 만들어라(단어 만들기)

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s  #빈칸을 이용해서, 위 list들을 모두 합쳐라

'this is a house built this year.'

In [ ]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s  #s.replace = s에서 this를 that으로 바꿔라

'that is a house built that year.'



---

**Funtion을 만드는 법**
1.  define 함수이름(입력변수1, 입력변수2): *(콜론 중요)*
2.  함수 정의에 대한 내용 (ex. c=a+b)
3.  return 출력변수명1, 출력변수명2

> 함수는 정의가 선행돼야 하고, 입출력의 관계가 선택적

In [84]:
def add(a,b):  #정의와 사용은 다름. 우리가 print를 쓸 수 있는 것도 누군가 정의를 해놨기 때문
  return a+b   

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

In [85]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5

In [87]:
def sol(a):
  b = a + 530  #이렇게 중간 단계를 만들어도 됨
  return b

In [89]:
x = sol(3); print(x)

533



---

# 3. Syntax

**문법의 종류**
*   조건문(if)
*   반복문(for/while)



---

**for**
*   for 밑의 공간은 띄어주어야 밑줄의 함수가 for 구문에 들어있는 걸로 해석됨
*   a에 있는 것들을 처음부터 하나하나씩 아래 i에 넣어서 돌린다(*for-loop*)

In [90]:
a = [1, 2, 3, 4]  #list를 바로 넣는 방법
for i in a:
    print(i)

1
2
3
4

In [91]:
a = [1, 2, 3, 4]  #in 다음에 range를 써서 index를 이용하는 방법
for i in range(len(a)):  #len(a)=4, range(4)=[0, 1, 2, 3]의 list가 만들어짐
    print(a[i])   #[0, 1, 2, 3]을 i에 하나씩 넣고 돌린다 ==> a[0]; a[1]; a[2]; a[3]

1
2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']  #list에 string이 들어감
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):  #len(a)=4, range(len(a))=[0, 1, 2, 3]
    print(a[i])  #list에서 a[0], a[1], a[2], a[3]

red
green
blue
purple



---

**if**
*  맞다면(==), 아니라면(!= or else)
*   if 밑의 공간은 띄어주어야 밑줄의 함수가 if 구문에 들어있는 걸로 해석됨

In [92]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [94]:
a = 1
if a != 0:
    print(a-1)

0



---

**syntax 중첩**
*   맨 위는 fix, 아래부터 한다고 생각

In [97]:
for i in range(1, 3):      #range(x, y) = [x, x+1, ..., y-1], range(1, 3) = [1, 2]
    for j in range(3, 5):  #range(3, 5) = [3, 4]
        print(i*j)         #1*3, 1*4, 2*3, 2*4

3
4
6
8

In [98]:
for i in range(1, 3):      #[1, 2]
    for j in range(3, 5):  #[3, 4]
        if j >=4:          #j=4일 때만 가능
            print(i*j)     #1*4, 2*4

4
8



---

**Comphrehension**

> for, if가 list/dict 안으로 들어옴

*   a가 i로 들어가서(i가 a를 받아서) for를 돔으로써 이 조건을 만족시키는 list를 만들어라

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]  #len('red')=3
b

['green', 'blue', 'purple']

In [99]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}  
c
#range(4)=[0, 1, 2, 3]
#{a[0]:b[0], a[1]:b[1], a[2]:b[2], a[3]:b[3]}
#{'red':1, 'green':2, 'blue':3, 'purple':4}

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}