<a href="https://colab.research.google.com/github/iamsorri/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2020 성북구 및 서울 보행자 무단횡단사고 다발지역정보 조회

> API: 보행자 무단횡단사고 다발지역정보 조회 서비스(jaywalking)

In [1]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [2]:
URL = ('http://apis.data.go.kr/B552061/jaywalking/'
      'getRestJaywalking?'
      'ServiceKey=hhpbwB8p7ymV1PsmMnMIVsoEaOFJc5ckThMzWnsQNXTwUA88RFk7UZ2aN9WgvqSwrDpH5Ok1BP7pDXHphc6CJw%3D%3D'
      '&searchYearCd=2020'
      '&siDo=11'
      '&guGun=290'
      '&type=json'
      '&numOfRows=10'
      '&pageNo=1')
response = requests.get(URL)

In [3]:
response

In [ ]:
r = response.json()
r

http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
items = r['items']['item']
items

In [6]:
sido_sgg_nm = [item['sido_sgg_nm'] for item in items]
spot_nm = [item['spot_nm'] for item in items]
occrrnc_cnt = [item['occrrnc_cnt'] for item in items]
caslt_cnt = [item['caslt_cnt'] for item in items]
dth_dnv_cnt = [item['dth_dnv_cnt'] for item in items]

sido_sgg_nm = pd.Series(sido_sgg_nm)
spot_nm = pd.Series(spot_nm)   
occrrnc_cnt = pd.Series(occrrnc_cnt)
caslt_cnt = pd.Series(caslt_cnt)
dth_dnv_cnt = pd.Series(dth_dnv_cnt)

df = pd.DataFrame({ '시도시군구명': sido_sgg_nm, '지점명': spot_nm, '발생건수': occrrnc_cnt, '사상건수': caslt_cnt, '사망자수': dth_dnv_cnt})

In [7]:
df

     시도시군구명                          지점명  발생건수  사상건수  사망자수
0  서울 서울종암1      서울특별시 성북구 종암동(종암로97 부근)     5     5     0
1  서울 서울종암2    서울특별시 성북구 석관동(석관동제일은행 부근)     5     5     0
2  서울 서울종암3  서울특별시 성북구 하월곡동(동성자동차공업주 부근)     5     5     0
3  서울 서울종암4   서울특별시 성북구 종암동(종암동31288 부근)     4     4     0
4  서울 서울종암5      서울특별시 성북구 장위동(내고향한우 부근)     4     4     0



---

In [8]:
def test(guGun):
  URL = ('http://apis.data.go.kr/B552061/jaywalking/getRestJaywalking?ServiceKey=hhpbwB8p7ymV1PsmMnMIVsoEaOFJc5ckThMzWnsQNXTwUA88RFk7UZ2aN9WgvqSwrDpH5Ok1BP7pDXHphc6CJw%3D%3D&searchYearCd=2020&siDo=11&guGun='+guGun+'&type=json&numOfRows=10&pageNo=1')
  
  response = requests.get(URL)
  r = response.json()
  items = r['items']['item']

  sido_sgg_nm = [item['sido_sgg_nm'] for item in items]
  spot_nm = [item['spot_nm'] for item in items]
  occrrnc_cnt = [item['occrrnc_cnt'] for item in items]
  caslt_cnt = [item['caslt_cnt'] for item in items]
  dth_dnv_cnt = [item['dth_dnv_cnt'] for item in items]

  sido_sgg_nm = pd.Series(sido_sgg_nm)
  spot_nm = pd.Series(spot_nm)   
  occrrnc_cnt = pd.Series(occrrnc_cnt)
  caslt_cnt = pd.Series(caslt_cnt)
  dth_dnv_cnt = pd.Series(dth_dnv_cnt)

  df = pd.DataFrame({ '시도시군구명': sido_sgg_nm, '지점명': spot_nm, '발생건수': occrrnc_cnt, '사상건수': caslt_cnt, '사망자수': dth_dnv_cnt})
  return df

In [61]:
iface = gr.Interface(test, gr.inputs.Dropdown(['680', '290', '305', '500'], label='법정동 코드'), gr.outputs.Dataframe(label='보행자 무단횡단사고 다발지역정보'))
iface.launch()

Colab notebook detected. To show errors in colab notebook, set `debug=True` in `launch()`
Running on public URL: https://51551.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

(<fastapi.applications.FastAPI at 0x7f14e81a93d0>,
 'http://127.0.0.1:7871/',
 'https://51551.gradio.app')