<a href="https://colab.research.google.com/github/iamsorri/class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**코딩 기초**
*   **변수** = '문자', 숫자 ==> *variables, string*
*   **문법** = if(조건문), for(반복문) ==> *syntax*
*   **함수** ==> *function*
*   **패키지**(라이브러리) = 함수들을 모아놓은 것 ==> *packages, import(불러오기)*

**일반 언어과 프로그래밍 언어**
*   Natural Language = word + meaning(content)
*   Programming Language = word(*ex.var=3*) + syntax

# Variables



---

**변수**
*   number(*integer/float*)(숫자)
*   string(문자)
*   list(여러 개) ≒ *tuple(item 바꾸기 안 됨)*
*   dict

1.   equal(=)을 통해 assign 하기
2.   print(a)를 통해 변수의 내용 보기
1.   print(type(a))을 통해 변수의 type 보기

In [ ]:
a = 1; print(type(a)) #여러 코드를 이어쓸 때에는 ;(세미콜론) 사용

<class 'int'>

In [ ]:
a = 1.0; print(type(a)); print(a) #1.0도 float, 좌측바로 확인 가능

<class 'float'>
1.0

In [ ]:
a = 1.1; print(type(a))

<class 'float'>



---

**인덱싱**
*   a[n] = a의 n번째 가져오기
*   파이썬에서 n은 0부터 시작
*   x~y번째 가져오고 싶다면 [x-1:y] *(콜론의 오른쪽에 있는건 포함하지 않음, >)*
*   맨 뒤에서부터 -1, -2, ...
*   리스트 안에 리스트가 있는 경우 a[x][y]
*   list, string의 인덱싱 방법 동일

In [ ]:
a = '123'; print(type(a)); print(a[1]) #숫자를 적을지라도, '', ""를 사용

<class 'str'>
2

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])  #list = 대괄호, 숫자/문자 모두 가능

<class 'list'>
1

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  #콜론 뒤의 -1의 위치인 10은 포함되지 않음.
print(a[:-1])
print(a[4:])
print(a[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])  
#list안에 list가 들어있음(3번째 item, 2 item짜리 list)

<class 'list'>
1
a
[3, '4']
4

In [ ]:
a[2][1]  #a의 2번째 중, 1번째에 있는 것 = 3번째 [3, '4'] 중, 2번째 '4'

'4'

In [ ]:
a = 'abcdefg1234'  #list와 string은 인덱싱 방법 동일
print(type(a))
print(a[3:-1])

<class 'str'>
defg123



---

**dict**
*   중괄호
*   key + value, 쌍으로 되어 있음
*   key를 통해 value에 access
*   항목 추가

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [ ]:
a = {123: "hong", 456: "sol", 'h': 2002}
a[123]

'hong'